GROQ_API_KEY="gsk_tu_api_key_aqui"
GROQ_MODEL="openai/gpt-oss-120b"

LANGSMITH_TRACING="true"
LANGSMITH_ENDPOINT="https://api.smith.langchain.com"
LANGSMITH_API_KEY="lsv2_pt_tu_api_key_aqui"
LANGSMITH_PROJECT="vetcare-rag-evaluacion-1"